@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/image/rDtN98Qoishumwih/summer-background-abstract-background-wallpaper-use-for-presentation_HDDYoJOhMg_thumb.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  background-color: rgb(255, 255, 255);
}

.cursed {
  background-image: url('https://i.pinimg.com/originals/1d/55/45/1d5545b64db0034165c3e83fdbdc813c.gif');
  background-size: 16.5%;
  background-position: center;
  position: absolute;
  transform: 'translate(-50%, -50%)';
  left: 39%;
  top: -17%;
  width: 300px;
  height: 301px;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-nav {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid black;
  height: 50px;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

.nav-link {
  text-decoration: none;
  font-size: 20px;
  color: black;
  transition: all 0.3s;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.nav-link.active {
  color: #86008d;
  background-color: #86008d;
  color: #ffffff;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  margin-left: 10px;
}
.btn-15 {
  background: #86008d;
  border: none;
  z-index: 1;
}
.btn-15:after {
  position: absolute;
  content: '';
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #7100ae;
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.btn-15:hover {
  color: #fff;
}
.btn-15:hover:after {
  left: 0;
  width: 100%;
}
.btn-15:active {
  top: 2px;
}
